# DataLoader Manual

This notebook is a quick guide on how to use Dataloader to obtain data.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# import dataloader script
from scripts.dataloader import DataLoader
from pathlib import Path

In [9]:
# define db_path variable and init the DataLoader class
db_path = Path('../data/database.db')
dl = DataLoader(db_path)

Some use cases:

In [10]:
# get all table names
dl.get_tables()

['jra55', 'nnr1', 'cmo_historical_data_monthly']

In [11]:
# get columns for a particular table
(
    dl.get_table_columns('jra55'),
    dl.get_table_columns('nnr1'),
    dl.get_table_columns('cmo_historical_data_monthly')
)

(['date',
  'ao_index',
  'iod_index',
  'mei',
  'nhtele_index_1',
  'nhtele_index_2',
  'nhtele_index_3',
  'nhtele_index_4',
  'pna_index',
  'psa_index_1',
  'psa_index_2',
  'sam_index'],
 ['date',
  'ao_index',
  'iod_index',
  'mei',
  'nhtele_index_1',
  'nhtele_index_2',
  'nhtele_index_3',
  'nhtele_index_4',
  'pna_index',
  'psa_index_1',
  'psa_index_2',
  'sam_index'],
 ['MONTH',
  'Crude oil, average ($/bbl) CRUDE_PETRO',
  'Crude oil, Brent ($/bbl) CRUDE_BRENT',
  'Crude oil, Dubai ($/bbl) CRUDE_DUBAI',
  'Crude oil, WTI ($/bbl) CRUDE_WTI',
  'Coal, Australian ($/mt) COAL_AUS',
  'Coal, South African ($/mt) COAL_SAFRICA',
  'Natural gas, US ($/mmbtu) NGAS_US',
  'Natural gas, Europe ($/mmbtu) NGAS_EUR',
  'Liquefied natural gas, Japan ($/mmbtu) NGAS_JP',
  'Natural gas index (2010=100) iNATGAS',
  'Cocoa ($/kg) COCOA',
  'Coffee, Arabica ($/kg) COFFEE_ARABIC',
  'Coffee, Robusta ($/kg) COFFEE_ROBUS',
  'Tea, avg 3 auctions ($/kg) TEA_AVG',
  'Tea, Colombo ($/kg) TEA_COLOMBO',
  'Tea, Kolkata ($/kg) TEA_KOLKATA',
  'Tea, Mombasa ($/kg) TEA_MOMBASA',
  'Coconut oil ($/mt) COCONUT_OIL',
  'Groundnuts ($/mt) GRNUT',
  'Fish meal ($/mt) FISH_MEAL',
  'Groundnut oil ($/mt) GRNUT_OIL',
  'Palm oil ($/mt) PALM_OIL',
  'Palm kernel oil ($/mt) PLMKRNL_OIL',
  'Soybeans ($/mt) SOYBEANS',
  'Soybean oil ($/mt) SOYBEAN_OIL',
  'Soybean meal ($/mt) SOYBEAN_MEAL',
  'Rapeseed oil ($/mt) RAPESEED_OIL',
  'Sunflower oil ($/mt) SUNFLOWER_OIL',
  'Barley ($/mt) BARLEY',
  'Maize ($/mt) MAIZE',
  'Sorghum ($/mt) SORGHUM',
  'Rice, Thai 5%  ($/mt) RICE_05',
  'Rice, Thai 25%  ($/mt) RICE_25',
  'Rice, Thai A.1 ($/mt) RICE_A1',
  'Rice, Viet Namese 5% ($/mt) RICE_05_VNM',
  'Wheat, US SRW ($/mt) WHEAT_US_SRW',
  'Wheat, US HRW ($/mt) WHEAT_US_HRW',
  'Banana, Europe ($/kg) BANANA_EU',
  'Banana, US ($/kg) BANANA_US',
  'Orange ($/kg) ORANGE',
  'Beef ($/kg) BEEF',
  'Meat, chicken ($/kg) CHICKEN',
  'Meat, sheep ($/kg) LAMB',
  'Shrimps, Mexican ($/kg) SHRIMP_MEX',
  'Sugar, EU ($/kg) SUGAR_EU',
  'Sugar, US ($/kg) SUGAR_US',
  'Sugar, world ($/kg) SUGAR_WLD',
  'Tobacco, US import u.v. ($/mt) TOBAC_US',
  'Logs, Cameroon ($/cubic meter) LOGS_CMR',
  'Logs, Malaysian ($/cubic meter) LOGS_MYS',
  'Sawnwood, Cameroon ($/cubic meter) SAWNWD_CMR',
  'Sawnwood, Malaysian ($/cubic meter) SAWNWD_MYS',
  'Plywood (cents/sheet) PLYWOOD',
  'Woodpulp ($/mt) WOODPULP',
  'Cotton, A Index ($/kg) COTTON_A_INDX',
  'Rubber, TSR20 ($/kg) RUBBER_TSR20',
  'Rubber, SGP/MYS ($/kg) RUBBER1_MYSG',
  'Phosphate rock ($/mt) PHOSROCK',
  'DAP ($/mt) DAP',
  'TSP ($/mt) TSP',
  'Urea  ($/mt) UREA_EE_BULK',
  'Potassium chloride ($/mt) POTASH',
  'Aluminum ($/mt) ALUMINUM',
  'Iron ore, cfr spot ($/dmtu) IRON_ORE',
  'Copper ($/mt) COPPER',
  'Lead ($/mt) LEAD',
  'Tin ($/mt) Tin',
  'Nickel ($/mt) NICKEL',
  'Zinc ($/mt) Zinc',
  'Gold ($/troy oz) GOLD',
  'Platinum ($/troy oz) PLATINUM',
  'Silver ($/troy oz) SILVER',
  'Coal, Colombian ($/mt) COAL_COL',
  'Copra ($/mt) COPRA',
  'Steel Index (2005=100) iSTL_JP_INDX',
  'Steel, cold rolled coilsheet ($/mt) STL_JP_CROLL',
  'Steel, hot rolled coilsheet ($/mt) STL_JP_HROLL',
  'Steel rebar ($/mt) STL_JP_REBAR',
  'Steel wire rod ($/mt) STL_JP_WIROD',
  'Cotton, Memphis (cents/kg) COTTON_MEMPH',
  'Rubber, US (cents/kg) RUBBER1_US',
  'Wheat, Canadian ($/mt) WHEAT_CANADI'])

In [12]:
# get commodity names 
dl.get_commodity_names()

{'aluminum',
 'banana',
 'barley',
 'beef',
 'coal',
 'cocoa',
 'coconut',
 'coffee',
 'copper',
 'copra',
 'cotton',
 'crude',
 'dap',
 'fish',
 'gold',
 'groundnut',
 'groundnuts',
 'iron',
 'lead',
 'liquefied',
 'logs',
 'maize',
 'meat',
 'natural',
 'nickel',
 'orange',
 'palm',
 'phosphate',
 'platinum',
 'plywood',
 'potassium',
 'rapeseed',
 'rice',
 'rubber',
 'sawnwood',
 'shrimps',
 'silver',
 'sorghum',
 'soybean',
 'soybeans',
 'steel',
 'sugar',
 'sunflower',
 'tea',
 'tin',
 'tobacco',
 'tsp',
 'urea',
 'wheat',
 'woodpulp',
 'zinc'}

In [13]:
# get commodity historical monthly data
dl.get_commodity_historical_monthly_data('wheat')

,MONTH,"Wheat, US SRW ($/mt) WHEAT_US_SRW","Wheat, US HRW ($/mt) WHEAT_US_HRW","Wheat, Canadian ($/mt) WHEAT_CANADI"
0,1960-01-01,NaN,59.87500,64.00000
1,1960-02-01,NaN,61.00000,64.06250
2,1960-03-01,NaN,61.71875,63.75000
3,1960-04-01,NaN,61.00000,63.34375
4,1960-05-01,NaN,57.68750,63.12500
...,...,...,...,...
748,None,NaN,NaN,NaN
749,None,NaN,NaN,NaN
750,None,NaN,NaN,NaN
751,None,NaN,NaN,NaN
752,None,NaN,NaN,NaN

In [8]:
dl.get_commodity_historical_monthly_data("wheat_us_srw")  # commodity name must be lower case

     Wheat, US SRW ($/mt) WHEAT_US_SRW
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN
..                                 ...
748                                NaN
749                                NaN
750                                NaN
751                                NaN
752                                NaN

[753 rows x 1 columns]